<h1>Чё кого?!Вас приветсвует пасёлок МИХАНАВИЧЫ дзярэуня Островы </h1>
<div layout="row">
<script src = "../js/controllers/popupList.js"></script>
	<div flex>
		<div ng-app="MdMenuOffsetDemo">
		    <div ng-controller="MdMenuOffsetDemoController as vm">
		        <md-content>
		           
		            <div layout="row" style="background:yellow;">


		                <md-menu style="background:yellow;" md-position-mode="target-right target" md-offset="10 50">
		                    <md-button ng-mouseover="$mdOpenMenu($event)||false">
		                        Open menu
		                    </md-button>
		                    <md-menu-content width="3" style="background:yellow;">
		                        <md-menu-item>
		                            <md-button>Item 1</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 2</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 3</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 4</md-button>
		                        </md-menu-item>
		                    </md-menu-content>
		                </md-menu>
		            </div>
		        </md-content>
		    </div>
		</div>
	</div>	
	<div flex>
		<div ng-app="MdMenuOffsetDemo">
		    <div ng-controller="MdMenuOffsetDemoController as vm">
		        <md-content>
		           
		            <div layout="row" style="background:yellow;">


		                <md-menu style="background:yellow;" md-position-mode="target-right target" md-offset="10 50">
		                    <md-button ng-mouseover="$mdOpenMenu($event)">
		                        Open menu
		                    </md-button>
		                    <md-menu-content width="3" style="background:yellow;">
		                        <md-menu-item>
		                            <md-button>Item 1</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 2</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 3</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 4</md-button>
		                        </md-menu-item>
		                    </md-menu-content>
		                </md-menu>
		            </div>
		        </md-content>
		    </div>
		</div>
	</div>
	<div flex>
		<div ng-app="MdMenuOffsetDemo">
		    <div ng-controller="MdMenuOffsetDemoController as vm">
		        <md-content>
		           
		            <div layout="row" style="background:yellow;">


		                <md-menu style="background:yellow;" md-position-mode="target-right target" md-offset="10 50">
		                    <md-button ng-click="$mdOpenMenu($event)">
		                        Open menu
		                    </md-button>
		                    <md-menu-content width="3" style="background:yellow;">
		                        <md-menu-item>
		                            <md-button>Item 1</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 2</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 3</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 4</md-button>
		                        </md-menu-item>
		                    </md-menu-content>
		                </md-menu>
		            </div>
		        </md-content>
		    </div>
		</div>
	</div>
	<div flex>
		<div ng-app="MdMenuOffsetDemo">
		    <div ng-controller="MdMenuOffsetDemoController as vm">
		        <md-content>
		           
		            <div layout="row" style="background:yellow;">


		                <md-menu style="background:yellow;" md-position-mode="target-right target" md-offset="10 50">
		                    <md-button ng-click="$mdOpenMenu($event)">
		                        Open menu
		                    </md-button>
		                    <md-menu-content width="3" style="background:yellow;">
		                        <md-menu-item>
		                            <md-button>Item 1</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 2</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 3</md-button>
		                        </md-menu-item>
		                        <md-menu-item>
		                            <md-button>Item 4</md-button>
		                        </md-menu-item>
		                    </md-menu-content>
		                </md-menu>
		            </div>
		        </md-content>
		    </div>
		</div>
	</div>
</div>
<div layout="row" style="height:500px;background:gray;">dcdcddvdv
<ng-view></ng-view>
</div>

<div layout="row">Footer</div>